*/.vscode/*
*/.vs/*
.vs/*
*/.idea/*
*/.DS_Store/*
*/.git/*
*/.gitignore/*
*/.gitattributes/*
*/.gitmodules/*
*/.gitkeep/*
*/.gitlab-ci.yml/*
*/.gitlab
/data/*
/obj/*
/bin/*
/dist/*
/sharedassets1.assets
/sharedassets0.assets
/data.zip
/WankulCrazyData.zip
